
.app{
    position: absolute;
    width: 95%;
    height: auto;
    top: 0px;
    left: 2.5%;
    right: 0px;
    bottom: 0px;
}
.acontentjustify {
    margin-left: 2.5%;
}
#rtldiv {
    direction: rtl;
  }
  @font-face {
    font-family: W_Yekan;
    src: url("./Yekan.woff");
  }