/* 
@media only screen and (min-width: 1137px) {
    a {
      color: #131313;
      padding: 0px !important;
      justify-content: center;
      width: 13%;
      height: 40px;
      margin-bottom:1em !important;
      margin-right: 1.8em !important;
    }
  }
  
  @media only screen and (max-width: 1136px) {
    a {
      color: #131313;
      padding: 0px !important;
      justify-content: center;
      width: 13%;
      height: 36px;
      margin-bottom: 0.8em !important;
      margin-right: 1.5em !important;
      font-size: auto;
    }
  }
  @media only screen and (max-width: 1136px) {
    a {
      color: #131313;
      padding: 0px !important;
      justify-content: center;
      width: 124px;
      height: 36px;
      margin-bottom: 0.7em !important;
      margin-right: 1em !important;
      font-size: 0.8em;
      font-weight: normal !important;
    }
  }
  @media only screen and (max-width: 886px) {
    a {
      color: #131313;
      padding: 5px 20px !important;
      width: auto;
      height: auto;
      justify-content: center;
      margin-bottom: 0.7em !important;
      margin-right: 1em !important;
      font-size: 0.8em;
      font-weight: normal !important;
    }
  }
  @media only screen and (max-width: 760px) {
    
  } */